<!DOCTYPE html>
<html ng-app="wikiApp">
<head>
<title>Wikipedia App</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
<link href="css/mainStyle.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="js/mainJS.js"></script>
</head>
<body>
  <div class="container-fluid, wrapper" ng-controller="wikiController">
    <img class="img-responsive" src="http://upload.wikimedia.org/wikipedia/commons/6/6e/Wikipedia_logo_silver.png" width="300" />
    <button class="btn btn-danger" id="clear" ng-click="clear()">x</button><br/>
    <input type="text" ng-model="searchText" id="searchText" placeholder="Learn more about..." />
    <br/>
    <button class="btn btn-primary" ng-click="getData()" id="submitButton">Search</button><br/>
    <div>
      <ul ng-repeat="item in items">
        <a href="{{item.URL}}" target="_blank">
          <li class="entries">
            <h3>{{item.title}}</h3>
            <p>{{item.body}}</p>
          </li>
        </a>
      </ul>
    </div>
    <a href="https://en.wikipedia.org/wiki/Special:Random" target="_blank"><button id="random" class="btn btn-danger">Random Article</button></a>
    <footer>
      <h5>Coded and Designed by <a id="author" href="https://github.com/MindShaver" target="_blank">Robert Livingston</a></h5>
    </footer>
  </div>

</body>
</html>